<header class="font-[Plus_Jakarta_Sans] font-bold flex justify-between items-center py-5 w-[80vw]" id="inicio">
  <h1 class="text-[2vw] font-bold text-white select-none">Portafolio</h1>

  <nav class="flex  gap-10 p-2 rounded-xl">
    <a href="#inicio" class="hover:underline  text-[1vw] text-white">Inicio</a>
    <a href="#sobre_mi" class="hover:underline text-[1vw] text-white">Sobre mí</a>
    <a href="#tecnologias" class="hover:underline text-[1vw] text-white">Tecnologías</a>
    <a href="#proyectos" class="hover:underline text-[1vw] text-white">Proyectos</a>
    <a href="#contacto" class="hover:underline text-[1vw] text-white">Contacto</a>
  </nav>
</header>
