<section class="flex flex-col w-[85%] gap-5 mx-auto items-center  mt-55" id="proyectos">
    <h1 class="font-[Preahvihear] text-[2.1vw] text-white text-center lg:w-[55vw]" >Proyectos</h1>
    <p class="font-[Preahvihear] text-white text-center text-[1.2vw] lg:w-[55vw]">Una selección de mis trabajos más recientes y destacados</p>

    <div class="w-full flex justify-center flex-wrap">
        <div class="bg-white w-[25vw] lg:w-[25vw] rounded-md my-20">
            <img src="../../public/proyectos/dentalcrown_project.png" alt="DentalCrown" class="rounded-t-lg ">
    
            <div class="py-[3vh] px-4 flex flex-col gap-2">
                <h1 class="text-[#202020] text-[1.1vw] font-[Plus_Jakarta_Sans] font-[600] flex items-center justify-between">Clínica Dental - DentalCrown 
                    <div class="flex gap-5">
                        <a href="#"><img src="../../public/iconos/visitar.svg" alt="" class="w-[1.3vw]"> </a>
                        <a href="#"><img src="../../public/iconos/github.svg" alt="" class="w-[1.5vw]"></a>
                    </div>
                </h1>
                <p class="text-[#202020] text-[.8vw] font-[Plus_Jakarta_Sans]">Un sitio web informativo para una clínica dental. Presenta de forma clara los servicios que ofrecen, sus especialistas, información sobre la empresa y un método de comunicación para sus pacientes.</p>

                <h2 class="font-[Preahvihear] text-[1vw] my-2">Herramientas utilizadas</h2>
                <div class="flex flex-wrap gap-2">
                    <span class="text-[.8vw] rounded-md py-[.8vh] px-[1.2vw] bg-[#F3F3F3]">HTML</span>
                    <span class="text-[.8vw] rounded-md py-[.8vh] px-[1.2vw] bg-[#F3F3F3]">CSS</span>
                    <span class="text-[.8vw] rounded-md py-[.8vh] px-[1.2vw] bg-[#F3F3F3]">JavaScript</span>
                    <span class="text-[.8vw] rounded-md py-[.8vh] px-[1.2vw] bg-[#F3F3F3]">MySql</span>
                    <span class="text-[.8vw] rounded-md py-[.8vh] px-[1.2vw] bg-[#F3F3F3]">Flask</span>
                </div>
            </div>
        </div>
    </div>

</section>